# Prerequisites
*.d

# Visual Studio db
*.db
.vs/
**/Debug/
**/Release/
**/ipch/
*.opendb
*.aps
*.vcxproj.user

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
# Git
*.exe.stackdump


